@model partial_views.Controllers.MyPartialViewModel

<div>
    <h2>Partial View Content</h2>
    <p>This is a reusable partial view</p>
    <p>@Model.Message</p>
</div>

<div>
    <h2>Partial View Content</h2>
    <p>@ViewData["Message"]</p>
</div>
